Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
bcrypt
python-dotenv
SQLAlchemy
soundfile
numpy
SpeechRecognition
pydub
Flask-SocketIO
eventlet
flask-swagger-ui
Werkzeug
marshmallow
flask-marshmallow
pytest
pytest-flask
Flask-Limiter
gunicorn
psycopg2-binary
supabase
cloudinary
