Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
bcrypt
python-dotenv
SQLAlchemy
torch
torchaudio
soundfile
numpy
SpeechRecognition
pydub
Flask-SocketIO
eventlet
flask-swagger-ui
Werkzeug
marshmallow
flask-marshmallow
celery
redis
pytest
pytest-flask
